<md-dialog aria-label="form_add">
    <md-dialog-content style="width: 1500px!important" layout="row">
     <md-card flex style="    height: 100%;">
        <md-card-content>
        <form name="form_add">
            <div layout="row">
                            <div aria-label="NA/NA" flex>
                                <md-button class="md-secondary" disabled><strong>PROVEEDOR</strong></md-button>
                                <md-divider></md-divider>
                            </div>
                            <md-button class="md-icon-button" ng-click="nuevo_dialog($event)" aria-label="Add">
                                <md-icon md-svg-icon="images/icons/add.svg"></md-icon>
                                <md-tooltip md-direction="bottom" >
                                          Añadir Proveedor
                                </md-tooltip>   
                            </md-button>
                    </div>
        <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>CI/RUC (Proveedor)</label>
                        <input name="ruc_ci" ng-model="query.proveedor" type="text" limit-to="13" numeros-only required>
                        <div ng-messages="form_add.ruc.$error">
                            <div ng-message="required" ng-show="form_add.ruc.$error.required">Campo Requerido</div>
                            <div ng-message="campo" ng-show="form_add.ruc.$error.campo">El Registro Ya Existe</div>
                            <div ng-message="minlength" ng-show="form_add.ruc.$error.minlength">Minimo 10 caracteres</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Nombre</label>
                        <input name="nombre" ng-model="data.nombre" type="text" letras-only  letras-only required readonly>
                        <div ng-messages="form_add.nombre.$error">
                            <div ng-message="required" ng-show="form_add.nombre.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                                        <md-input-container class="md-icon-float md-block" flex>
                        <label>Correo</label>
                        <input name="correo" ng-model="data.datos_contacto.correo" type="email"  required readonly>
                        <div ng-messages="form_add.correo.$error">
                            <div ng-message="required" ng-show="form_add.correo.$error.email">Email Incorrecto</div>
                            <div ng-message="required" ng-show="form_add.correo.$error.required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-icon-float md-block" flex="90" aria-label="Close">
                            <md-icon md-svg-icon="images/icons/buscar.svg">search</md-icon>
                            <label>Búsqueda de Productos (Nombre, Codigo)</label>
                            <input name="nom_tipo_categoria" ng-model="query.filter" type="text">
                        </md-input-container>

                          <md-input-container class="md-icon-float md-block" flex="10" aria-label="Close">
                             <md-button class="md-icon-button" ng-click="nuevo_prod_dialog($event)" aria-label="Add">
                                <md-icon md-svg-icon="images/icons/add.svg"></md-icon>
                                <md-tooltip md-direction="bottom" >
                                          Añadir Producto
                                </md-tooltip>   
                            </md-button>
                        </md-input-container>
                       
                    </div>

        <table md-table ng-model="selected" md-progress="promise" fle>
            <thead md-head md-order="query.order" md-on-reorder="data_inv_tc_get">
                <tr md-row>
                    <th md-column md-numeric><CENTER>CÓDIGO</CENTER></th>
                    <th md-column md-order-by="nameToLower"><span>NOMBRE</span></th>
                    <th md-column md-numeric>DESCRIPCIÓN</th>
                    <th md-column md-numeric>STOCK</th>
                    <th md-column md-numeric>PRECIO UNITARIO</th>
                    <th md-column md-numeric>AÑADIR</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in data_table">
                    <td md-cell>{{dessert.codigo_prod}}</td>
                    <td md-cell>{{dessert.nombre_corto}}</td>
                    <td md-cell>{{dessert.descripcion_corta}}</td>
                    <td md-cell>{{dessert.cantidad}}</td>
                    <td md-cell>{{dessert.precio+' c/'+dessert.unidad.abreviatura}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="add_prod_fac(dessert)" type="button">
                            <md-tooltip md-direction="top">
                                Añadir al detalle de ingreso
                            </md-tooltip>
                            <md-icon class="md-primary" md-svg-icon="images/icons/set.svg">mode_edit</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.pagina_actual" md-total="{{total}}" md-on-paginate="buscar_proveedor" md-page-select></md-table-pagination>
</form>

        </md-card-content>
      </md-card>
      <md-card flex style="height: 100%;">
        <md-card-content>
                   
                    <div layout="row">
                    <md-button class="md-secondary" flex disabled><strong>DETALLES DEL INGRESO</strong></md-button>
                     </div>
                     <md-divider></md-divider>

        <table md-table ng-model="selected" md-progress="promise" flex>
            <thead md-head md-order="query.order" md-on-reorder="data_inv_tc_get">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>CANTIDAD</span></th>
                    <th md-column md-numeric>PRODUCTO</th>
                    <th md-column md-numeric>PVP</th>
                    <th md-column md-numeric>TOTAL</th>
                    <th md-column md-numeric>QUITAR</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in detalles_fac">
                    <td md-cell>
                    <md-input-container>
                        <label>Cantidad</label>
                        <input value="{{dessert.cantidad_fac}}" ng-model="dessert.cantidad_fac" ng-keyup="add_prod_fac_from_input(dessert)" type="text" style="width: 50px;">
                        <md-button class="md-icon-button" ng-click="remove_prod_fac(dessert)" type="button">
                            <md-tooltip md-direction="top">
                                Reducir
                            </md-tooltip>
                            <md-icon class="md-primary" md-svg-icon="images/icons/mas.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="add_prod_fac(dessert)" type="button">
                            <md-tooltip md-direction="top">
                                Añadir
                            </md-tooltip>
                            <md-icon class="md-primary" md-svg-icon="images/icons/menos.svg"></md-icon>
                        </md-button>
                        </md-input-container>
                        </td>
                    <td md-cell>{{dessert.nombre_corto}}</td>
                    <td md-cell>{{dessert.precio}}</td>
                    <td md-cell>{{dessert.total_fac}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="delete_prod_fac(dessert)" type="button">
                            <md-tooltip md-direction="top">
                                Eliminar
                            </md-tooltip>
                            <md-icon class="md-primary">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table md-table ng-model="selected" md-progress="promise" flex>
            <tbody style="font-size: 12px; font-family: Roboto,Helvetica Neue, sans-serif;">
                <tr  ng-repeat="dessert in totales">
                    <td ></td>
                    <td ></td>
                    <td  style="    width: 65%;"></td>
                    <td ><strong>{{dessert.label}}</strong></td>
                    <td >{{dessert.valor}}</td>
                </tr>
            </tbody>
        </table>
        </md-card-content>
        </md-card>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">CANCELAR</md-button>
            <!-- <md-button type="button" class="md-raised md-primary">GUARDAR CAMBIOS</md-button> -->
            <md-button class="md-raised md-primary" type="submit" ng-click="guardar_factura()" ng-disabled="detalles_fac.length==0">INGRESAR MERCADERIA</md-button>
        </md-dialog-actions>
</md-dialog>