
<div class="tc-white-1 p+" flex-container="column" flex-align="space-between center" style="margin-left: 20%;">
    <div class="p+" style="width: 50%;">
    <form name="form_login" ng-submit="Ingresar()">
   <md-card>
        <img ng-src="images/login.jpg" class="md-card-image" alt="BIENVENIDO A BIZ">
        <lx-progress lx-type="linear" lx-color="teal" ng-if="progreso"></lx-progress>
        <md-card-title>
          <md-card-title-text>
            <md-button class="md-hue-1" style="color:rgb(50, 190, 166);"><span>DIAS RESTANTES : <strong>{{dias_restantes}}</strong></span></md-button>
          </md-card-title-text>
          <md-card-title-text>
            <md-button class="md-hue-1" style="color:rgb(73, 108, 181);"><span>BIENVENIDOS A BIZ</span></md-button>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-icon="images/icons/user.svg"></md-icon>
                        <label>Usuario</label>
                        <input name="nick" ng-model="data_user.nick" type="text" required>
                        <div ng-messages="form_login.nick.$error" ng-show="form_login.nick.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <md-icon md-svg-icon="images/icons/pass.svg"></md-icon>
                        <label>Contraseña</label>
                        <input name="clave" ng-model="data_user.clave" type="password" required>
                        <div ng-messages="form_login.clave.$error" ng-show="form_login.clave.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" class="md-accent md-hue-1" ng-disabled="form_login.$invalid">INGRESAR</md-button>
        </md-card-actions>
      </md-card>
      </form>
</div>
</div>
