<!-- <lx-progress lx-type="linear" lx-color="blue" ng-if="progress"></lx-progress>
<div class="toolbar bgc-indigo-900 tc-white-1">
    <div class="toolbar__left mr++"> -->
        <!-- <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-menu tc-white-1"></i></lx-button> -->
   <!--  </div>
    <span class="toolbar__label fs-title">Bienvenido</span>
    <div class="toolbar__right">
    <span>{{user.nick}}</span>
        <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-dots-vertical tc-white-1"></i></lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <ul>
                    <li><a class="dropdown-link">Perfil</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-link" ng-click="salir()"><i class="mdi mdi-power-plug-off" ></i>Salir</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div> -->

<!-- <md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>Bienvenido</span>
    </h2>
    <span flex></span>
     <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-dots-vertical tc-white-1"></i></lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <ul>
                    <li><a class="dropdown-link">Perfil</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-link" ng-click="salir()"><i class="mdi mdi-power-plug-off" ></i>Salir</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
  </div>
</md-toolbar>




<md-sidenav layout="column" class="main-sidenav md-sidenav-left " style="-webkit-box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);
box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);position:fixed !important; top: 64px;" md-component-id="navigation-drawer" md-is-locked-open="$mdMedia('gt-md')" layout="column">
    <md-content md-scroll-y flex layout="column">
        <ul>
            <li><a class="dropdown-link tc-indigo-900" ng-href="#!/Dash"><i class="mdi mdi-home tc-indigo-900"></i> INICIO</a></li>
            <li class="dropdown-divider-nav "></li>
            <li ng-repeat="menu in nav_bar"><a class="dropdown-link " ng-href="#!/{{menu.path}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"><i class="mdi {{menu.iconmdi}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"></i> {{menu.label}}</a>
                <ul>
                    <li ng-repeat="item in menu.children" style="padding-left: 5%;"><a class="dropdown-link {{item.color}}" ng-href="#!/{{item.path}}"><i class="mdi {{item.iconmdi}} {{item.color}}"></i> {{item.label}}</a></li>
                    <li class="dropdown-divider-nav "></li>
                </ul>
            </li>
        </ul>
    </md-content>
</md-sidenav>
<md-content flex md-scroll-y>
<div app-view-segment="1" class="card" style="margin: 1% 1% 1% 18%;"></div> -->


<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div> Bienvenido</div>
            <div>{{user.nick}}</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-content md-scroll-y flex layout="column">
        <ul>
            <li><a class="dropdown-link tc-indigo-900" ng-href="#!/Dash"><i class="mdi mdi-home tc-indigo-900"></i> INICIO</a></li>
            <li class="dropdown-divider-nav "></li>
            <li ng-repeat="menu in nav_bar"><a class="dropdown-link " ng-href="#!/{{menu.path}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"><i class="mdi {{menu.iconmdi}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"></i> {{menu.label}}</a>
                <ul>
                    <li ng-repeat="item in menu.children" style="padding-left: 5%;"><a class="dropdown-link {{item.color}}" ng-href="#!/{{item.path}}"><i class="mdi {{item.iconmdi}} {{item.color}}"></i> {{item.label}}</a></li>
                    <li class="dropdown-divider-nav "></li>
                </ul>
            </li>
        </ul>
    </md-content>
    </md-list>
</md-sidenav>


<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Productos Agotados</h2>
        <md-button class="md-icon-button" ng-click="close()" aria-label="Cerrar">
          <md-icon md-svg-icon="images/icons/close.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
      <md-content  layout-padding>
      <md-list class="md-dense" flex>
            <!-- <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader> -->
        <md-list-item class="md-3-line" ng-repeat="item in productos_agotados">
          <img ng-src="{{item.image}}" class="md-avatar" alt="{{item.nombre_corto}}" />
          <div class="md-list-item-text" layout="column">
            <h3><strong>{{ item.nombre_corto }}</strong></h3>
            <h4>Cantidad Actual: {{ item.cantidad }}</h4>
            <p>Stock Mínimo: {{ item.stock_minimo }}</p>
          </div>
            <md-divider ></md-divider>
          <div class="md-list-item-text" layout="column">
            <h3></h3>
            <h4>
            <md-button class="md-icon-button"  ng-click="contactar_proveedor_dialog(item)" aria-label="Productos Agotados">
                <md-icon md-svg-icon="images/icons/phone-book.svg"></md-icon>
                <md-tooltip md-direction="bottom" >
                      Contactar Proveedor
                </md-tooltip> 
            </md-button>
            </h4>
            <p></p>
          </div>
        </md-list-item>
          <md-list>
      </md-content>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main">
    <!-- <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button> -->
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <span flex></span>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-icon-button"  aria-label="Productos Agotados" ng-show="productos_agotados.length>0">
            <md-icon md-svg-icon="images/icons/alarm.svg"></md-icon>
            <div class="badge1"  data-badge="{{productos_agotados.length}}"></div>
            <md-tooltip md-direction="bottom" >
                  Productos Agotados
            </md-tooltip> 
          </md-button>
          
            <lx-dropdown lx-position="right" lx-over-toggle="true">
                <lx-dropdown-toggle>
                    <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-dots-vertical tc-white-1"></i></lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Perfil</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link" ng-click="salir()"><i class="mdi mdi-power-plug-off" ></i>Salir</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </md-toolbar>
    <md-content flex md-scroll-y layout-padding>
        <div app-view-segment="1"></div>
    </md-content>
</div>

<style type="text/css"> 

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
position: absolute;
top: -21px;
right: 13px;
font-size: 0.9em;
background: rgb(243, 33, 33);
color: white;
width: 18px;
height: 18px;
text-align: center;
line-height: 18px;
border-radius: 50%;
}

</style>