<div class="toolbar bgc-indigo-900 tc-white-1">
    <div class="toolbar__left mr++">
        <!-- <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-menu tc-white-1"></i></lx-button> -->
    </div>
    <span class="toolbar__label fs-title">Bienvenido</span>
    <div class="toolbar__right">
    <span>{{user.nick}}</span>
        <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="blue" lx-type="icon"><i class="mdi mdi-dots-vertical tc-white-1"></i></lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <ul>
                    <li><a class="dropdown-link">Perfil</a></li>
                    <li class="dropdown-divider"></li>
                    <!-- <li><a class="dropdown-link dropdown-link--is-header">Header</a></li> -->
                    <li><a class="dropdown-link" ng-click="salir()"><i class="mdi mdi-power-plug-off" ></i>Salir</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>
<md-sidenav layout="column" class="main-sidenav md-sidenav-left " style="-webkit-box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);
box-shadow: 1px 2px 5px 0px rgba(150,150,150,1);position:fixed !important; top: 64px;" md-component-id="navigation-drawer" md-is-locked-open="$mdMedia('gt-md')" layout="column">
    <md-content md-scroll-y flex layout="column" >
        <ul>
            <li ><a class="dropdown-link tc-indigo-900" ng-href="#!/Dash"><i class="mdi mdi-home tc-indigo-900"></i> INICIO</a></li>
            <li class="dropdown-divider-nav "></li>
            <li ng-repeat="menu in nav_bar" ><a class="dropdown-link " ng-href="#!/{{menu.path}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"><i class="mdi {{menu.iconmdi}}" ng-class="[{'tc-indigo-200': menu.children.length>0,'tc-indigo-900': menu.children.length==0}]"></i> {{menu.label}}</a>
                <ul>
                 <li ng-repeat="item in menu.children" style="padding-left: 5%;"><a class="dropdown-link {{item.color}}" ng-href="#!/{{item.path}}"><i class="mdi {{item.iconmdi}} {{item.color}}"></i> {{item.label}}</a></li>
                 <li class="dropdown-divider-nav "></li>
                </ul>
            </li>
        </ul>
    </md-content>
</md-sidenav>
<div app-view-segment="1" class="card" style="margin: 1% 1% 1% 18%;"></div>