<md-dialog aria-label="FormProductos">
    <form name="form" ng-submit="guardar()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Producto</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 1100px!important">
            <div class="md-dialog-content">
                <div class="md-no-momentum">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label>
                                <md-icon md-svg-icon="images/icons/info.svg"></md-icon> Información General</md-tab-label>
                            <md-tab-body>
                            <md-content layout="row">
                                    <md-input-container class="md-icon-float md-block" flex="30">
                                        <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Proveedor</label>
                                        <input name="ruc_proveedor" ng-model="ruc_proveedor" ng-keyup="buscar_proveedor()" type="text" numeros-only required>
                                        <div ng-messages="form.ruc_proveedor.$error">
                                            <div ng-message="required" ng-show="form.ruc_proveedor.$error.required">Campo Requerido</div>
                                            <div ng-show="no_proveedor" style="    font-size: 12px;">El Proveedor No Existe</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Nombre Proveedor</label>
                                        <input name="nombre_proveedor" ng-model="data_proveedor.nombre" disabled>
                                        <div ng-messages="form.nombre_proveedor.$error" ng-show="form.nombre_proveedor.$dirty">
                                            <div ng-message="required" ng-show="form.nombre_proveedor.$error.required">Campo Requerido</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Dirección</label>
                                        <input name="nom_modelo" ng-model="data_proveedor.direccion" type="text" disabled>
                                    </md-input-container>
                                </md-content>
                            <md-content layout="row">
                                    <md-input-container class="md-icon-float md-block" flex="30">
                                        <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Nombre Producto</label>
                                        <input name="nom_producto" ng-model="data_producto.nombre_corto" type="text" productos-validator required>
                                        
                                        <div ng-messages="form.nom_producto.$error">
                                            <div ng-message="required" ng-show="form.nom_producto.$error.required">Campo Requerido</div>
                                            <div ng-message="campo" ng-show="form.nom_producto.$error.campo">El Registro Ya Existe</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Precio</label>
                                        <input name="nom_precio" ng-model="data_producto.precio" money required value="0">
                                        <div ng-messages="form.nom_precio.$error" ng-show="form.nom_precio.$dirty">
                                            <div ng-message="required" ng-show="form.nom_precio.$error.required">Campo Requerido</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Costo</label>
                                        <input name="nom_modelo" ng-model="data_producto.costo" money type="text">
                                        <div ng-messages="form.nom_modelo.$error" ng-show="form.nom_modelo.$dirty">
                                            <div ng-message="campo">Registro Repetido</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Cantidad</label>
                                        <input name="nom_cantidad" ng-model="data_producto.cantidad" type="number" ng-pattern="/^([0-9])*$/" required>
                                        <div ng-messages="form.nom_cantidad.$error">
                                            <div ng-message="required" ng-show="form.nom_cantidad.$error.required">Campo Requerido</div>
                                            <div ng-message="pattern" ng-show="form.nom_cantidad.$error.pattern">Solo numeros enteros</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                        <label>Stock Mínimo</label>
                                        <input name="stock_minimo" ng-model="data_producto.stock_minimo" type="number" ng-pattern="/^([0-9])*$/" required>
                                        <div ng-messages="form.stock_minimo.$error">
                                            <div ng-message="required" ng-show="form.stock_minimo.$error.required">Campo Requerido</div>
                                            <div ng-message="pattern" ng-show="form.stock_minimo.$error.pattern">Solo numeros enteros</div>
                                        </div>
                                    </md-input-container>
                                </md-content>
                                <md-content layout-padding layout="row" >
                                 <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelUnidades.selectedUnidad" lx-fixed-label="true" lx-allow-clear="true" lx-choices="ListUnidades" lx-display-filter="true" lx-fixed-label="true" lx-label="Unidad" required>
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-show="ModelUnidades.selectedUnidad==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                                    </div>
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelCategorias.selectedCategoria" lx-fixed-label="true" lx-allow-clear="true" lx-choices="ListCategorias" lx-display-filter="true" lx-fixed-label="true" lx-label="Categoría" required>
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-show="ModelCategorias.selectedCategoria==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                                    </div>
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelTipoGastos.selectedTipoGastos" lx-allow-clear="true" lx-choices="ListTipoGastos" lx-display-filter="true" lx-fixed-label="true" lx-label="Tipo de Consumo">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-show="ModelTipoGastos.selectedTipoGastos==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                                    </div>
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelModelos.selectedModelo" lx-allow-clear="true" lx-choices="LIstaModelos" lx-display-filter="true" lx-fixed-label="true" lx-label="Modelo" lx-name="nom_modelo" >
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <!-- <div ng-show="ModelModelos.selectedModelo==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div> -->
                                    </div>
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelMarcas.selectedMarca" lx-allow-clear="true" lx-choices="ListaMarcas" lx-display-filter="true" lx-fixed-label="true" lx-label="Marca">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-show="ModelMarcas.selectedMarca==undefinied" style="color: rgba(255, 0, 0, 0.64);  font-size: 12px;">Campo Requerido *</div>
                                    </div>
                                    <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelImpuestos.selectedPeople"
                                                   lx-choices="ListaImpuestos"
                                                   lx-fixed-label="true"
                                                   lx-label="Impuesto"
                                                   lx-multiple="true">
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                    </div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <md-icon>note</md-icon> Descripción / Multimedia</md-tab-label>
                            <md-tab-body>
                            <md-content layout="row">
                                <md-input-container class="md-icon-float md-block" flex>
                                <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                    <label>Descripción Corta</label>
                                    <input name="descripcion_corta" ng-model="data_producto.descripcion_corta" type="text" required>
                                    <div ng-messages="form.descripcion_corta.$error" >
                                        <div ng-message="required" ng-show="form.descripcion_corta.$error.required">Campo Requerido</div>
                                    </div>
                                </md-input-container>
                                    <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                    <input type="file" nv-file-select="" uploader="uploader" required/>
                                            <div ng-repeat="item in uploader.queue">
                                                <div ng-if="isImage(item._file)">
                                                    <div ng-thumb="{ file: item._file, height: 100 }"></div>
                                                </div>
                                            </div>
                            </md-input-container>
                            </md-content>
                            <md-content layout="row">
                                <md-input-container class="md-icon-float md-block" flex>
                                <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                    <label>Descripción Proveedor</label>
                                    <input name="descripcion_proveedor" ng-model="data_producto.descripcion_proveedor" type="text">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block" flex>
                                <md-icon class="md-primary" md-svg-icon="images/icons/text.svg"></md-icon>
                                    <label>Descripción Proformas</label>
                                    <input name="descripcion_proformas" ng-model="data_producto.descripcion_proformas" type="text">
                                </md-input-container>
                            </md-content>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid
            ||ModelMarcas.selectedMarca==undefinied
            ||ModelCategorias.selectedCategoria==undefinied
            ||ModelTipoGastos.selectedTipoGastos==undefinied
            ||ModelUnidades.selectedUnidad==undefinied">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>