<md-dialog aria-label="FormProductos">
    <form name="form" ng-submit="guardar()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Producto</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 1100px!important">
            <div class="md-dialog-content">
                <div class="md-no-momentum">
                    <div layout="row">
                        
                    </div>
                    <div layout="row" flex="100">
                        <md-input-container class="md-icon-float md-block" flex="40">
                            <md-icon class="md-primary">view_compact</md-icon>
                            <label>Nombre Producto</label>
                            <input name="nom_producto" ng-model="data_producto.nombre_corto" type="text" required >
                            <div ng-messages="form.nom_producto.$error" ng-show="form.nom_producto.$dirty">
                                <div ng-message="required">Campo Requerido</div>
                                <div ng-message="campo">Registro Repetido</div>
                            </div>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                        <md-input-container class="md-icon-float md-block">
                            <md-checkbox name="vendible" ng-model="data_producto.vendible" aria-label="vendible" style="top: 10px;" >
                                IVA
                            </md-checkbox>
                            <div ng-messages="form.vendible.$error" ng-show="form.vendible.$dirty">
                                <div ng-message="required">Campo Requerido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <img src="images/loging.jpg">
                        </md-input-container>
                        <!-- <md-input-container class="md-icon-float md-block" flex="40">
                            <io-barcode code="{{data_producto.nombre_corto}}" type="CODE128B" ></io-barcode>
                        </md-input-container> -->
                    </div>
                    <md-tabs md-dynamic-height md-border-bottom>
                       <md-tab>
                          <md-tab-label><md-icon>info</md-icon> Información General</md-tab-label>
                          <md-tab-body>
                            <md-content layout-padding layout="row">
                                <div flex>
                                    <lx-select ng-model="ModelCategorias.selectedCategoria" lx-fixed-label="true" lx-allow-clear="true" lx-choices="ListCategorias" lx-display-filter="true" lx-fixed-label="true" lx-label="Categoría" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <div flex>
                                    <lx-select ng-model="selectModelTipoConsumos.selectedTipoConsumo"
                                               lx-allow-clear="true"
                                               lx-choices="selectTipoConsumos"
                                               lx-display-filter="true"
                                               lx-fixed-label="true"
                                               lx-label="Tipo de Consumo">
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="form.descripcion.$error" ng-show="form.descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </div>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <div flex>
                                    <lx-select ng-model="ModelModelos.selectedModelo" lx-allow-clear="true" lx-choices="LIstaModelos" lx-display-filter="true" lx-fixed-label="true" lx-label="Modelo" lx-name="nom_modelo" required>
                                        <lx-select-selected>
                                            {{ $selected.nombre }}
                                        </lx-select-selected>
                                        <lx-select-choices>
                                            {{ $choice.nombre }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                                <div class="md-icon-float md-block" flex>
                                        <lx-select ng-model="ModelMarcas.selectedMarca"
                                                   lx-allow-clear="true"
                                                   lx-choices="LIstaMarcas"
                                                   lx-display-filter="true"
                                                   lx-fixed-label="true"
                                                   lx-label="Marca"
                                                   >
                                            <lx-select-selected>
                                                {{ $selected.nombre }}
                                            </lx-select-selected>
                                            <lx-select-choices>
                                                {{ $choice.nombre }}
                                            </lx-select-choices>
                                        </lx-select>
                                    </div>
                            </md-content>
                            <md-content layout="row">
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Precio</label>
                                    <input name="nom_precio" ng-model="data_producto.precio" money  required value="0">
                                    <div ng-messages="form.nom_precio.$error" ng-show="form.nom_precio.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Costo</label>
                                    <input name="nom_modelo" ng-model="data_producto.costo" money type="text">
                                    <div ng-messages="form.nom_modelo.$error" ng-show="form.nom_modelo.$dirty">
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <label>Cantidad</label>
                                    <input name="nom_cantidad" ng-model="data_producto.cantidad" type="number" ng-pattern="/^([0-9])*$/" required >
                                    <div ng-messages="form.nom_cantidad.$error" ng-show="form.nom_cantidad.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="pattern">Solo numeros enteros</div>
                                    </div>
                                </md-input-container>
                            </md-content>
                          </md-tab-body>
                       </md-tab>
                       <md-tab>
                          <md-tab-label><md-icon>note</md-icon> Descripción</md-tab-label>
                          <md-tab-body>
                                <md-input-container class="md-icon-float md-block" flex>
                                    <md-icon class="md-primary">view_compact</md-icon>
                                    <label>Descripción</label>
                                    <input name="nom_descripcion" ng-model="data_producto.descripcion" type="text">
                                    <div ng-messages="form.nom_descripcion.$error" ng-show="form.nom_descripcion.$dirty">
                                        <div ng-message="required">Campo Requerido</div>
                                        <div ng-message="campo">Registro Repetido</div>
                                    </div>
                                </md-input-container>
                          </md-tab-body>
                       </md-tab>
                       <md-tab>
                          <md-tab-label></md-tab-label>
                          <md-tab-body>
                            <div class="row">
                                
                            </div>
                          </md-tab-body>
                       </md-tab>
                    </md-tabs>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="reset">Limpiar</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Guardar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>