<div id="print-content">   
    <style>
    @media print {
    body * {
        visibility: hidden;
    }
    #print-content * {
        visibility: visible;
    }
    .modal{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        min-height:550px
    }
}
    
    </style>
<div class="modal-header">
<h1>Invoice by ozkary.com</h1>
</div>
<div class="modal-body">
        <table class="table table-condense">
            <caption>ozkary.com Sports Products Invoice</caption>
            <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Item Cost</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unitCost | number:2}}</td>
                    <td>{{item.total | number:2}}</td>
                </tr>
            </tbody>           
        </table>
   
</div>
<div class="modal-footer">
<div class="pull-left">
<h5>&#9400; 2015</h5>
 </div>
    
    <div class="pull-right hidden-print">      
        <button class="btn btn-primary" ng-click="print()">Print</button>
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>    
</div>
</div>